[Desktop Entry]
Encoding=UTF-8
Name=Link to My Blog
Type=Link
URL=https://github.com/AjithKalarikal/FOSS_TASKS/blob/master/TASK_1/My%20Blog
Icon=text-html
